@model AlMocar.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Carousel" />
<h1>Itens em destaque</h1>
<div class="row">
    @foreach (var item in Model.ItemsEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>